<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h2>What am I up to?</h2>
        </div>
        <div class="col-sm-12 col-md-12">
            <p>
				My name is Dave Cox, and this summer, I'm embarking on a 7500-km trip across Canada. I'll be riding from Victoria, BC to St. John's, NL over the course of about four months, starting in May and ending (roughly!) at the end of August. During the trip, I'll be filiming a feature-length documentary about my adventures, and posting updates here and on my Instagram. <br><br>

				Have you seen me riding? Did you get a photo? I'd love to see it! Send it to me at dave@unicycledave.com.
            </p>
        </div>
    </div>
</section>
