<footer class="container-fluid container-contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Contacts</h1>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <a href="mailto:{{ site.email }}">
                    {{ site.email }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fab fa-twitter" aria-hidden="true"></i>
                <a href="https://www.twitter.com/unicycledave">
                    {{ site.twitter }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fab fa-instagram" aria-hidden="true"></i>
                <a href="https://www.instagram.com/unicycle_dave/">
                    {{ site.instagram }}
                </a>
            </div>
            <div class="col-md-6 col-sm-12 container-contacts-phone">
                <i class="fab fa-facebook" aria-hidden="true"></i>
                <a href="https://www.facebook.com/unicycledave/">
                    {{ site.facebook }}
                </a>
	    </div>
        </div>
    </div>
</footer>
